* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
  
body {
  font-family: sans-serif;
  overflow: hidden;
}
  
.intro {
  height: 100vh;
  overflow: hidden;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1.curio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  overflow: hidden;
  
}
.intro h1.dev {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 90px;
  color: white;
  overflow: hidden;
}
.intro img.kerrie {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-20%, -45%);
}

/* Section 1 vakken */

section.vak-codelab {
  height: 100vh;
  color: whitesmoke;
}

section.vak-codelab h1, section.vak-win h1, section.vak-web h1, section.vak-gen h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
  overflow: hidden;
}

section .vakken {
  margin-top: 50px;
  
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.vakken-text-align {
  width: 80%;
  text-align: center;
}

.codelab {
  font-size: 60px;
  overflow: hidden;
}

.codelabT {
  font-size: 50px;
  overflow: hidden;
}

/* Section 2 vak Windows */

section.vak-win {
  height: 100vh;
  color: black;
  overflow: hidden;

}

.codeImg {
  position: absolute;
  /* width: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.windowsT {
  overflow: hidden;
}

/* Vak web */

section.vak-web {
  height: 100vh;
  color: white;

  text-align: center;
}

.web-background {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/webfoto.jpg');
  background-position: center;
  background-size: cover;
}

.webT {
  overflow: hidden;
}

/* Generieken vakken */

section.vak-gen {
  height: 100vh;
  background: linear-gradient(#080806, white);
  color: black;
}

.vak {
  width: 500px;
  text-align: center; 
}

.vakken-content-align {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.engTitel, .engT, .nlTitel, .nlT, .rekenTitel, .rekenT{
  overflow: hidden;
}

/* Rooster */

section.rooster {
  height: 100vh;
  color: black;
}

.rooster .rooster-container {
  margin-top: 50vh;
  text-align: center;
}

.rooster-titel, .rooster-text {
  overflow: hidden;
}