* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: sans-serif;
}
  
.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1.curio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
}
.intro h1.dev {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 90px;
  color: white;
}
.intro img.kerrie {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-20%, -45%);
}

/* Section 1 vakken */

section.vak-codelab {
  height: 100vh;
  color: whitesmoke;
  /* background: linear-gradient(black, white 100%); */
}

section.vak-codelab h1, section.vak-win h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}

section .vakken {
  margin-top: 50px;
  
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.vakken-text-align {
  width: 80%;
  text-align: center;
}

.codelab {
  font-size: 60px;
}

.codelabT {
  font-size: 50px;
}

/* Section 2 vak Windows */

section.vak-win {
  height: 100vh;
  color: black
}